.Opp {
    height: 100%;
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  }
  
  
  .input-rp {
    height: 40px;
    width: 400px;
    border-radius: 15px;
    
  }
  
  
  .button-rp {
    background-color: #08C642;
    height: 40px;
    width: 400px;
    border-radius: 15px;
  }
  
  
  @media screen and (max-width: 860px) { /* Specific to this particular image */
    .Opp img{
      display: initial; /* 50% */
    }
  }
  
  
  